html, body {
	width: 100vw;
	height: 100vh;
}

.guildTable {
	padding: 10px;
	width: 100vw;
}

.guild {
	border-bottom: 1px solid rgb(40, 40, 40);
	background-color: rgb(230, 230, 230);
}

.guildTable #icon_col {
	width: 10%;
}

.guildTable #title_col {
	width: 50%;
}

.guildTable #members_col {
	width: 40%;
}

.guild td {
	padding: 5px;
}

.guild img {
	margin: 5px;
	border-radius: 10px;
}

.guild .title {
	font-size: 2em;
	font-weight: bold;
	margin-right: 25px;
}

.guild .members {
	font-size: 1em;
}